body {
  font-size: 16px;
  line-height: 1.42857143;
  text-transform: capitalize;
  min-height: 100vh;
}
h1,
h2,
h3,
p {
  text-align: center;
}
body,
input {
  font-family: "Permanent Marker", Helvetica, Arial, sans-serif;
}
section {
  color: #000;
  background: #ffc;
  padding: 1em;
  margin: 20px 0;
  box-shadow: 5px 5px 7px rgba(33, 33, 33, 0.7);
}
.row {
  display: grid;
  align-items: center;
  grid-template-columns: 5fr 1fr;
  margin: 4px 0;
}
main {
  width: 100%;
  max-width: 600px;
  margin: auto;
  display: grid;
}
input {
  padding: 10px;
  margin: 10px 0;
  border: 1px solid #ccc;
  height: 1.5rem;
  border-radius: 4px;
  font-size: 20px;
  width: 100%;
}
div {
  width: 100%;
  display: flex;
}
button {
  cursor: pointer;
  background-color: #00ab66;
  color: white;
  border: none;
  padding: 10px;
  margin-left: 10px;
  height: 3rem;
  width: 3rem;
  display: grid;
  place-items: center;
  border-radius: 4px;
}
form {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.deleteButton {
  background-color: #d11a2a;
}
.purchasedItem {
  text-decoration: line-through;
}
.restoreButton {
  background-color: #24a0ed;
}
.purchased {
  background-color: #24a0ed;
}
.item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 100%;
  white-space: normal;
  overflow: hidden;
  text-overflow: ellipsis;
  padding-left: 2rem;
}
.buttonGroup {
  display: flex;
  justify-content: center;
  align-items: center;
}
.store {
  background: #d19000;
  padding: 12px;
  border-radius: 4px;
  color: #fff;
  cursor: pointer;
}
